# Pre-processing Dataset for Modelling
---
(insert image here - wordcloud?)
(links to various notebooks)

## Overview
---
This section will aim to spot trends and feature engineer the datasets to support our findings using the cleaned dataset from the previous notebook. 


## Table of Contents <a class="anchor" id="toc"></a>
---

* [Overview](#overview)
* [Importing Libraries](#importinglibraries)
* [Extracting Text Features](#cleaning)
* [One Hot Encoding Categorical Variables](#cleaning)
* [Creating Target Variables](#cleaning)
* [Export Datasets for Modelling](#exportcsv)

## Importing Libraries <a class="anchor" id="importinglibraries"></a>
---
[Back to top!](#toc)

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
jobs = pd.read_csv('../data/feature_engineered_dataset.csv')
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 81 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   job_title                      3969 non-null   object
 1   job_title_standardized         3969 non-null   object
 2   job_description                3969 non-null   object
 3   categories                     3969 non-null   object
 4   minimum_years_experience       3969 non-null   int64
 5   skills                         3969 non-null   object
 6   position_level_standardized    3969 non-null   object
 7   days_new_posting_closing       3969 non-null   float64
 8   days_original_posting_closing  3969 non-null   float64
 9   organisation                   3969 non-null   object
 10  salary_average                 3969 non-null   float64
 11  job_title_wordcount            3969 non-null   int64
 12  job_title_charcount            3969 non-null   int64
 13  job_description_wordcount      3969 non-null   int64
 14  job_description_charcount      3969 non-null   int64
 15  skills_num                     3969 non-null   int64
 16  skill_tableau                  3969 non-null   int64
 17  skill_datawarehouse            3969 non-null   int64
 18  skill_agile                    3969 non-null   int64
 19  skill_aws                      3969 non-null   int64
 20  skill_c#                       3969 non-null   int64
 21  skill_spring                   3969 non-null   int64
 22  skill_hadoop                   3969 non-null   int64
 23  skill_spark                    3969 non-null   int64
 24  skill_oracle                   3969 non-null   int64
 25  skill_stats                    3969 non-null   int64
 26  skill_datamining               3969 non-null   int64
 27  skill_github                   3969 non-null   int64
 28  skill_sdlc                     3969 non-null   int64
 29  skill_c++                      3969 non-null   int64
 30  skill_cloud                    3969 non-null   int64
 31  skill_html                     3969 non-null   int64
 32  skill_javascript               3969 non-null   int64
 33  skill_python                   3969 non-null   int64
 34  skill_azure                    3969 non-null   int64
 35  skill_linux                    3969 non-null   int64
 36  skill_unix                     3969 non-null   int64
 37  skill_ml                       3969 non-null   int64
 38  skill_algo                     3969 non-null   int64
 39  skill_java                     3969 non-null   int64
 40  skill_sql                      3969 non-null   int64
 41  categories_finance             3969 non-null   int64
 42  categories_IT                  3969 non-null   int64
 43  categories_consulting          3969 non-null   int64
 44  categories_education           3969 non-null   int64
 45  categories_professional        3969 non-null   int64
 46  categories_others              3969 non-null   int64
 47  categories_insurance           3969 non-null   int64
 48  categories_risk_mgmt           3969 non-null   int64
 49  categories_general_mgmt        3969 non-null   int64
 50  categories_engineering         3969 non-null   int64
 51  categories_civil_service       3969 non-null   int64
 52  categories_legal               3969 non-null   int64
 53  categories_accounts            3969 non-null   int64
 54  categories_PR                  3969 non-null   int64
 55  categories_research            3969 non-null   int64
 56  categories_manufacturing       3969 non-null   int64
 57  categories_design              3969 non-null   int64
 58  categories_telcom              3969 non-null   int64
 59  categories_retail              3969 non-null   int64
 60  categories_tourism             3969 non-null   int64
 61  categories_advert              3969 non-null   int64
 62  categories_admin               3969 non-null   int64
 63  categories_maintenance         3969 non-null   int64
 64  categories_logistics           3969 non-null   int64
 65  categories_wholesale           3969 non-null   int64
 66  categories_social_services     3969 non-null   int64
 67  categories_security            3969 non-null   int64
 68  categories_property            3969 non-null   int64
 69  categories_therapy             3969 non-null   int64
 70  categories_architecture        3969 non-null   int64
 71  categories_purchasing          3969 non-null   int64
 72  categories_HR                  3969 non-null   int64
 73  categories_entertainment       3969 non-null   int64
 74  categories_cust_service        3969 non-null   int64
 75  categories_env_health          3969 non-null   int64
 76  categories_construction        3969 non-null   int64
 77  categories_events              3969 non-null   int64
 78  categories_general_work        3969 non-null   int64
 79  categories_FandB               3969 non-null   int64
 80  categories_hospitality         3969 non-null   int64
dtypes: float64(3), int64(71), object(7)
memory usage: 2.5+ MB

## Extracting Text Features <a class="anchor" id="importinglibraries"></a>
---
[Back to top!](#toc)

In [3]:
jobs_textfeatures = pd.concat([jobs['job_title'], jobs['job_description'], 
                               jobs['skills'], jobs['organisation']], 
                              axis = 1, join = 'outer')
jobs_textfeatures.head()

,job_title,job_description,skills,organisation
0,Senior Derivatives XA Market Data Engineer,At ICE we approach every challenge as an oppor...,analytics; communication; data; detail oriente...,ICE DATA SERVICES SINGAPORE PTE. LTD.
1,IT - Business Analyst (Data Analytics and Mach...,"[ COLLECTION, USE AND DISCLOSURE OF PERSONAL D...",agile; agile methodolgy; banking; business ana...,NTT DATA SINGAPORE PTE. LTD.
2,Junior Data Analyst (Finance / Python) - up to...,We are a top 8 global IT services company with...,access; business process; data; data analysis;...,NTT DATA SINGAPORE PTE. LTD.
3,Data Analytics Consultant,This TMCA* (TeSA Mid-Career Advancement) progr...,analysis; business change management; business...,DATA & ANALYTICS CAPITALS PTE. LTD.
4,(IT)- Data science analyst,We are a top 8 global IT services company with...,business process; data; mysql; mysql dba; orac...,NTT DATA SINGAPORE PTE. LTD.

In [4]:
job_text = jobs_textfeatures['job_title'].str.cat([jobs_textfeatures['job_description'], jobs_textfeatures['skills'], jobs_textfeatures['organisation']], 
                                                   sep=' ', join='left')
job_text = pd.DataFrame(job_text)
job_text.head()

                                           job_title
0  Senior Derivatives XA Market Data Engineer At ...
1  IT - Business Analyst (Data Analytics and Mach...
2  Junior Data Analyst (Finance / Python) - up to...
3  Data Analytics Consultant This TMCA* (TeSA Mid...
4  (IT)- Data science analyst We are a top 8 glob...

In [5]:
# drop text columns
jobs.drop(columns=['job_title', 'categories', 'job_description', 'skills', 'organisation'], inplace=True)
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 76 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   job_title_standardized         3969 non-null   object
 1   minimum_years_experience       3969 non-null   int64
 2   position_level_standardized    3969 non-null   object
 3   days_new_posting_closing       3969 non-null   float64
 4   days_original_posting_closing  3969 non-null   float64
 5   salary_average                 3969 non-null   float64
 6   job_title_wordcount            3969 non-null   int64
 7   job_title_charcount            3969 non-null   int64
 8   job_description_wordcount      3969 non-null   int64
 9   job_description_charcount      3969 non-null   int64
 10  skills_num                     3969 non-null   int64
 11  skill_tableau                  3969 non-null   int64
 12  skill_datawarehouse            3969 non-null   int64
 13  skill_agile                    3969 non-null   int64
 14  skill_aws                      3969 non-null   int64
 15  skill_c#                       3969 non-null   int64
 16  skill_spring                   3969 non-null   int64
 17  skill_hadoop                   3969 non-null   int64
 18  skill_spark                    3969 non-null   int64
 19  skill_oracle                   3969 non-null   int64
 20  skill_stats                    3969 non-null   int64
 21  skill_datamining               3969 non-null   int64
 22  skill_github                   3969 non-null   int64
 23  skill_sdlc                     3969 non-null   int64
 24  skill_c++                      3969 non-null   int64
 25  skill_cloud                    3969 non-null   int64
 26  skill_html                     3969 non-null   int64
 27  skill_javascript               3969 non-null   int64
 28  skill_python                   3969 non-null   int64
 29  skill_azure                    3969 non-null   int64
 30  skill_linux                    3969 non-null   int64
 31  skill_unix                     3969 non-null   int64
 32  skill_ml                       3969 non-null   int64
 33  skill_algo                     3969 non-null   int64
 34  skill_java                     3969 non-null   int64
 35  skill_sql                      3969 non-null   int64
 36  categories_finance             3969 non-null   int64
 37  categories_IT                  3969 non-null   int64
 38  categories_consulting          3969 non-null   int64
 39  categories_education           3969 non-null   int64
 40  categories_professional        3969 non-null   int64
 41  categories_others              3969 non-null   int64
 42  categories_insurance           3969 non-null   int64
 43  categories_risk_mgmt           3969 non-null   int64
 44  categories_general_mgmt        3969 non-null   int64
 45  categories_engineering         3969 non-null   int64
 46  categories_civil_service       3969 non-null   int64
 47  categories_legal               3969 non-null   int64
 48  categories_accounts            3969 non-null   int64
 49  categories_PR                  3969 non-null   int64
 50  categories_research            3969 non-null   int64
 51  categories_manufacturing       3969 non-null   int64
 52  categories_design              3969 non-null   int64
 53  categories_telcom              3969 non-null   int64
 54  categories_retail              3969 non-null   int64
 55  categories_tourism             3969 non-null   int64
 56  categories_advert              3969 non-null   int64
 57  categories_admin               3969 non-null   int64
 58  categories_maintenance         3969 non-null   int64
 59  categories_logistics           3969 non-null   int64
 60  categories_wholesale           3969 non-null   int64
 61  categories_social_services     3969 non-null   int64
 62  categories_security            3969 non-null   int64
 63  categories_property            3969 non-null   int64
 64  categories_therapy             3969 non-null   int64
 65  categories_architecture        3969 non-null   int64
 66  categories_purchasing          3969 non-null   int64
 67  categories_HR                  3969 non-null   int64
 68  categories_entertainment       3969 non-null   int64
 69  categories_cust_service        3969 non-null   int64
 70  categories_env_health          3969 non-null   int64
 71  categories_construction        3969 non-null   int64
 72  categories_events              3969 non-null   int64
 73  categories_general_work        3969 non-null   int64
 74  categories_FandB               3969 non-null   int64
 75  categories_hospitality         3969 non-null   int64
dtypes: float64(3), int64(71), object(2)
memory usage: 2.3+ MB


## OHE `job_title_standardized`, `position_level_standardized`
---

In [6]:
df_job_title = pd.get_dummies(jobs['job_title_standardized'], prefix = 'job_title')
df_job_title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   job_title_business analyst         3969 non-null   uint8
 1   job_title_data analyst             3969 non-null   uint8
 2   job_title_data engineer            3969 non-null   uint8
 3   job_title_data quality management  3969 non-null   uint8
 4   job_title_data scientist           3969 non-null   uint8
 5   job_title_research scientist       3969 non-null   uint8
 6   job_title_software developer       3969 non-null   uint8
 7   job_title_software engineer        3969 non-null   uint8
 8   job_title_system engineer          3969 non-null   uint8
dtypes: uint8(9)
memory usage: 35.0 KB

In [7]:
df_position_level = pd.get_dummies(jobs['position_level_standardized'], prefix = 'position_level')
df_position_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   position_level_entry level        3969 non-null   uint8
 1   position_level_executive          3969 non-null   uint8
 2   position_level_junior executive   3969 non-null   uint8
 3   position_level_manager            3969 non-null   uint8
 4   position_level_middle management  3969 non-null   uint8
 5   position_level_non-executive      3969 non-null   uint8
 6   position_level_professional       3969 non-null   uint8
 7   position_level_senior executive   3969 non-null   uint8
 8   position_level_senior management  3969 non-null   uint8
dtypes: uint8(9)
memory usage: 35.0 KB

In [8]:
jobs = pd.concat([jobs, df_job_title, df_position_level], 
               axis = 1, join = 'outer')
jobs.drop(columns=['job_title_standardized', 
                 'position_level_standardized'], 
        inplace=True)

jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 92 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   minimum_years_experience           3969 non-null   int64
 1   days_new_posting_closing           3969 non-null   float64
 2   days_original_posting_closing      3969 non-null   float64
 3   salary_average                     3969 non-null   float64
 4   job_title_wordcount                3969 non-null   int64
 5   job_title_charcount                3969 non-null   int64
 6   job_description_wordcount          3969 non-null   int64
 7   job_description_charcount          3969 non-null   int64
 8   skills_num                         3969 non-null   int64
 9   skill_tableau                      3969 non-null   int64
 10  skill_datawarehouse                3969 non-null   int64
 11  skill_agile                        3969 non-null   int64
 12  skill_aws                          3969 non-null   int64
 13  skill_c#                           3969 non-null   int64
 14  skill_spring                       3969 non-null   int64
 15  skill_hadoop                       3969 non-null   int64
 16  skill_spark                        3969 non-null   int64
 17  skill_oracle                       3969 non-null   int64
 18  skill_stats                        3969 non-null   int64
 19  skill_datamining                   3969 non-null   int64
 20  skill_github                       3969 non-null   int64
 21  skill_sdlc                         3969 non-null   int64
 22  skill_c++                          3969 non-null   int64
 23  skill_cloud                        3969 non-null   int64
 24  skill_html                         3969 non-null   int64
 25  skill_javascript                   3969 non-null   int64
 26  skill_python                       3969 non-null   int64
 27  skill_azure                        3969 non-null   int64
 28  skill_linux                        3969 non-null   int64
 29  skill_unix                         3969 non-null   int64
 30  skill_ml                           3969 non-null   int64
 31  skill_algo                         3969 non-null   int64
 32  skill_java                         3969 non-null   int64
 33  skill_sql                          3969 non-null   int64
 34  categories_finance                 3969 non-null   int64
 35  categories_IT                      3969 non-null   int64
 36  categories_consulting              3969 non-null   int64
 37  categories_education               3969 non-null   int64
 38  categories_professional            3969 non-null   int64
 39  categories_others                  3969 non-null   int64
 40  categories_insurance               3969 non-null   int64
 41  categories_risk_mgmt               3969 non-null   int64
 42  categories_general_mgmt            3969 non-null   int64
 43  categories_engineering             3969 non-null   int64
 44  categories_civil_service           3969 non-null   int64
 45  categories_legal                   3969 non-null   int64
 46  categories_accounts                3969 non-null   int64
 47  categories_PR                      3969 non-null   int64
 48  categories_research                3969 non-null   int64
 49  categories_manufacturing           3969 non-null   int64
 50  categories_design                  3969 non-null   int64
 51  categories_telcom                  3969 non-null   int64
 52  categories_retail                  3969 non-null   int64
 53  categories_tourism                 3969 non-null   int64
 54  categories_advert                  3969 non-null   int64
 55  categories_admin                   3969 non-null   int64
 56  categories_maintenance             3969 non-null   int64
 57  categories_logistics               3969 non-null   int64
 58  categories_wholesale               3969 non-null   int64
 59  categories_social_services         3969 non-null   int64
 60  categories_security                3969 non-null   int64
 61  categories_property                3969 non-null   int64
 62  categories_therapy                 3969 non-null   int64
 63  categories_architecture            3969 non-null   int64
 64  categories_purchasing              3969 non-null   int64
 65  categories_HR                      3969 non-null   int64
 66  categories_entertainment           3969 non-null   int64
 67  categories_cust_service            3969 non-null   int64
 68  categories_env_health              3969 non-null   int64
 69  categories_construction            3969 non-null   int64
 70  categories_events                  3969 non-null   int64
 71  categories_general_work            3969 non-null   int64
 72  categories_FandB                   3969 non-null   int64
 73  categories_hospitality             3969 non-null   int64
 74  job_title_business analyst         3969 non-null   uint8
 75  job_title_data analyst             3969 non-null   uint8
 76  job_title_data engineer            3969 non-null   uint8
 77  job_title_data quality management  3969 non-null   uint8
 78  job_title_data scientist           3969 non-null   uint8
 79  job_title_research scientist       3969 non-null   uint8
 80  job_title_software developer       3969 non-null   uint8
 81  job_title_software engineer        3969 non-null   uint8
 82  job_title_system engineer          3969 non-null   uint8
 83  position_level_entry level         3969 non-null   uint8
 84  position_level_executive           3969 non-null   uint8
 85  position_level_junior executive    3969 non-null   uint8
 86  position_level_manager             3969 non-null   uint8
 87  position_level_middle management   3969 non-null   uint8
 88  position_level_non-executive       3969 non-null   uint8
 89  position_level_professional        3969 non-null   uint8
 90  position_level_senior executive    3969 non-null   uint8
 91  position_level_senior management   3969 non-null   uint8
dtypes: float64(3), int64(71), uint8(18)
memory usage: 2.3 MB

## Creating Target Variables

### Applying Logarithm function to target variable

In [9]:
# applying log function to target variable
jobs['salary_average_log'] = np.log(jobs['salary_average'])
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 93 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   minimum_years_experience           3969 non-null   int64
 1   days_new_posting_closing           3969 non-null   float64
 2   days_original_posting_closing      3969 non-null   float64
 3   salary_average                     3969 non-null   float64
 4   job_title_wordcount                3969 non-null   int64
 5   job_title_charcount                3969 non-null   int64
 6   job_description_wordcount          3969 non-null   int64
 7   job_description_charcount          3969 non-null   int64
 8   skills_num                         3969 non-null   int64
 9   skill_tableau                      3969 non-null   int64
 10  skill_datawarehouse                3969 non-null   int64
 11  skill_agile                        3969 non-null   int64
 12  skill_aws                          3969 non-null   int64
 13  skill_c#                           3969 non-null   int64
 14  skill_spring                       3969 non-null   int64
 15  skill_hadoop                       3969 non-null   int64
 16  skill_spark                        3969 non-null   int64
 17  skill_oracle                       3969 non-null   int64
 18  skill_stats                        3969 non-null   int64
 19  skill_datamining                   3969 non-null   int64
 20  skill_github                       3969 non-null   int64
 21  skill_sdlc                         3969 non-null   int64
 22  skill_c++                          3969 non-null   int64
 23  skill_cloud                        3969 non-null   int64
 24  skill_html                         3969 non-null   int64
 25  skill_javascript                   3969 non-null   int64
 26  skill_python                       3969 non-null   int64
 27  skill_azure                        3969 non-null   int64
 28  skill_linux                        3969 non-null   int64
 29  skill_unix                         3969 non-null   int64
 30  skill_ml                           3969 non-null   int64
 31  skill_algo                         3969 non-null   int64
 32  skill_java                         3969 non-null   int64
 33  skill_sql                          3969 non-null   int64
 34  categories_finance                 3969 non-null   int64
 35  categories_IT                      3969 non-null   int64
 36  categories_consulting              3969 non-null   int64
 37  categories_education               3969 non-null   int64
 38  categories_professional            3969 non-null   int64
 39  categories_others                  3969 non-null   int64
 40  categories_insurance               3969 non-null   int64
 41  categories_risk_mgmt               3969 non-null   int64
 42  categories_general_mgmt            3969 non-null   int64
 43  categories_engineering             3969 non-null   int64
 44  categories_civil_service           3969 non-null   int64
 45  categories_legal                   3969 non-null   int64
 46  categories_accounts                3969 non-null   int64
 47  categories_PR                      3969 non-null   int64
 48  categories_research                3969 non-null   int64
 49  categories_manufacturing           3969 non-null   int64
 50  categories_design                  3969 non-null   int64
 51  categories_telcom                  3969 non-null   int64
 52  categories_retail                  3969 non-null   int64
 53  categories_tourism                 3969 non-null   int64
 54  categories_advert                  3969 non-null   int64
 55  categories_admin                   3969 non-null   int64
 56  categories_maintenance             3969 non-null   int64
 57  categories_logistics               3969 non-null   int64
 58  categories_wholesale               3969 non-null   int64
 59  categories_social_services         3969 non-null   int64
 60  categories_security                3969 non-null   int64
 61  categories_property                3969 non-null   int64
 62  categories_therapy                 3969 non-null   int64
 63  categories_architecture            3969 non-null   int64
 64  categories_purchasing              3969 non-null   int64
 65  categories_HR                      3969 non-null   int64
 66  categories_entertainment           3969 non-null   int64
 67  categories_cust_service            3969 non-null   int64
 68  categories_env_health              3969 non-null   int64
 69  categories_construction            3969 non-null   int64
 70  categories_events                  3969 non-null   int64
 71  categories_general_work            3969 non-null   int64
 72  categories_FandB                   3969 non-null   int64
 73  categories_hospitality             3969 non-null   int64
 74  job_title_business analyst         3969 non-null   uint8
 75  job_title_data analyst             3969 non-null   uint8
 76  job_title_data engineer            3969 non-null   uint8
 77  job_title_data quality management  3969 non-null   uint8
 78  job_title_data scientist           3969 non-null   uint8
 79  job_title_research scientist       3969 non-null   uint8
 80  job_title_software developer       3969 non-null   uint8
 81  job_title_software engineer        3969 non-null   uint8
 82  job_title_system engineer          3969 non-null   uint8
 83  position_level_entry level         3969 non-null   uint8
 84  position_level_executive           3969 non-null   uint8
 85  position_level_junior executive    3969 non-null   uint8
 86  position_level_manager             3969 non-null   uint8
 87  position_level_middle management   3969 non-null   uint8
 88  position_level_non-executive       3969 non-null   uint8
 89  position_level_professional        3969 non-null   uint8
 90  position_level_senior executive    3969 non-null   uint8
 91  position_level_senior management   3969 non-null   uint8
 92  salary_average_log                 3969 non-null   float64
dtypes: float64(4), int64(71), uint8(18)
memory usage: 2.3 MB

In [10]:
jobs.groupby(by='minimum_years_experience').salary_average.median()

minimum_years_experience
0      4950.00
1      4500.00
2      5150.00
3      6250.00
4      7000.00
5      7500.00
6      8250.00
7      9000.00
8      9995.75
9     10500.00
10    12000.00
11    10750.00
12    13250.00
13    16000.00
14    13666.75
15    15000.00
16    15000.00
Name: salary_average, dtype: float64

In [11]:
jobs_median = jobs[['minimum_years_experience', 'salary_average']].copy()
jobs_median['salary_above_median'] = 0
jobs_median.head()

   minimum_years_experience  salary_average  salary_above_median
0                         5         13125.0                    0
1                         3          4500.0                    0
2                         2          3400.0                    0
3                        15          6000.0                    0
4                         2          6000.0                    0

In [13]:
# target variable - average salary
jobs_v1 = jobs.drop(columns=['salary_average_log'])
jobs_v1.to_csv('../data/modelling_dataset_v1.csv', index=False)

# target variable - np.log(average salary)
jobs_v2 = jobs.drop(columns=['salary_average'])
jobs_v2.to_csv('../data/modelling_dataset_v2.csv', index=False)

# target variable - classification using median values
# jobs_v3.to_csv('../data/modelling_dataset_v3.csv', index=False)

## Pre-processing for Classification Modelling

In [ ]:
job_text.head()

In [ ]:
jobs['salary_average']

In [ ]:
job_text = pd.concat([job_text, jobs['salary_average']], 
                     axis = 1, join = 'outer')
job_text.head()

In [ ]:
jobs['salary_average'].median()

In [ ]:
job_nlp['salary_above_median'] = (job_nlp['salary_average'] > 6650.0).astype(int)
job_nlp.head()

In [ ]:
job_nlp.drop(columns=['salary_average'], inplace=True)
job_nlp.info()

In [ ]:
job_nlp['salary_above_median'].value_counts()

In [ ]:
job_nlp.to_csv('../assets/modelling_dataset_mediansalary_classification.csv', index=False)